@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #19aec2;
  background-color: #f0f0f0;
  font-family: var(--font-family);
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  margin-top: 10px;
  padding-left: 10px;
  width: 50%;
}

.right {
  margin-top: 24px;
  margin-left: 18px;
  width: 50%;
}

.dash {
  border-left: 1px dashed #19aec2;
}

span {
  color: rgba(243, 169, 31, 0.89);
}

.h1 {
  font-size: 56px;
  text-transform: uppercase;
  text-align: center;
}

.p1 {
  color: black;
  text-align: center;
  font-size: 24px;
  padding-bottom: 30px;
}

.bar {
  width: 94%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  background-color: #19aec2;
  color: whitesmoke;
  border-color: #19aec2;
  border: 0;
  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: 0px;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: 0px;
  border-left: 3px dashed;
  border-right: 3px dashed;
}

.h2 {
  padding-left: 30px;
  padding-top: 12px;
  font-size: 48px;
  color: darkblue;
}

.p2 {
  display: flex;
  padding-left: 30px;
  padding-top: 5px;
  font-size: 24px;
}

.symbols {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.rh1 {
  font-size: 42px;
  color: darkblue;
  text-transform: uppercase;
  padding-top: 12px;
}

.set {
  display: flex;
  justify-content: start;
  padding-top: 18px;
  padding-bottom: 18px;
}

.word {
  font-size: 35px;
  text-align: center;
}

.num {
  font-size: 60px;
  padding-left: 50px;
  color: rgba(243, 169, 31, 0.89);
}

.imgg {
  padding-left: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 16px;
}
.column1 {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.column2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.h3 {
  font-size: 48px;
  color: darkblue;
}
.num1 {
  font-size: 81px;
  font-weight: bolder;
  color: rgba(243, 169, 31, 0.89);
}

.p3 {
  font-size: 20px;
}

.subset {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}

.boy {
  display: flex;
  margin-top: 5%;
  padding-left: 14%;
}

.h4 {
  font-size: 42px;
  color: rgba(243, 169, 31, 0.89);
}

.num2 {
  color: darkblue;
  font-size: 60px;
  text-align: center;
}

.row {
  display: flex;
  margin-top: 50px;
}

.subrow {
  padding-left: 50px;
}

.h5 {
  font-size: 42px;
  color: darkblue;
}

.h6 {
  font-size: 36px;
  color: rgba(243, 169, 31, 0.89);
}

.p4 {
  font-size: 17px;
}

footer {
  text-align: right;
  color: black;
}
